*{
    margin: 0;
    padding: 0;
}
.button{
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 2px;
    cursor: pointer;
    border-radius: 50%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(45deg, gold, transparent);
}
.textview{
    margin: 5px;
    font-size: 25px;
    padding: 5px;
}
.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: linear-gradient(45deg, black, transparent);
    box-shadow: 0 0 20px rgb(126, 119, 119);
    border: 10px solid #d0d0d0 !important;
}
.container{
    width: 270px !important;
    height: 375px !important;
}
